@model IEnumerable<apiRequest.Models.StudentModel>

<div class="d-flex justify-content-between">
    <div>
        <h1>List of Students</h1>
    </div>
    <div>
        <a class="btn btn-primary" asp-action="Create">Create New</a>
    </div>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
      @foreach (var item in Model)
    {
    <tr>
      <th scope="row">@Html.DisplayFor(modelItem => item.Id)</th>
      <td>@Html.DisplayFor(modelItem => item.Name)</td>
      <td>
        <a asp-controller="Home" asp-action="Details" asp-route-id="@item.Id"><i class="fas fa-info-circle"></i> Details</a> |
        <a asp-controller="Home" asp-action="Delete" asp-route-id="@item.Id"><i class="fas fa-trash-alt"></i> Delete</a> |
        <a asp-controller="Home" asp-action="Edit" asp-route-id="@item.Id"><i class="fas fa-edit"></i> Edit</a>
      </td>
    </tr>
    }
  </tbody>
</table>